body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.config-card {
	width: 700px;
	min-height: 600px;
}

.normal-font {
	font-weight: normal;
}

#results {
	width: 100%;
}

.hidden {
	display: none;
}

.divs-enable {
	display: flex;
	justify-content: space-around;
}
